
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<title>Scrum App Homepage</title>

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<!-- <link href="<c:url value='/assets/css/styles.css' />" rel="stylesheet"
	type="text/css"> -->

		<link  href="/resources/css/style.css" th:href="@{/css/style.css}" type="text/css" rel="stylesheet" />

</head>
<body>

<h1>New a task</h1>

<div class="container-fluid">
<form th:action="@{/saveTask(projectId=${projectId})}" th:object="${task}" method="POST">
	<div class="form-group">
	
	<input type="hidden" th:field="*{id}"/>
	<input type="hidden" th:field="*{project.id}"/>
	
<!-- 	<p th:text="*{project.id}" />	
 -->		<label for="TaskNameInput">Task Name</label> 
		
		<input
			th:field="*{taskName}" type="text" class="form-control"
			id="TaskNameInput" placeholder="Task Name" />
				<p th:each="error : ${#fields.errors('taskName')}" class="error" th:text="${error}">Validation Error</p>

	  <label class="mr-sm-2" for="TaskNameInput">Task state</label>
      <select class="custom-select mr-sm-2" id="TaskNameInput" th:field="*{taskState}">
        <option th:value="notdone">Not done</option>
        <option th:value="inprogress">In progress</option>
        <option th:value="done">Done</option>
      </select>
	</div>


	<div class="modal-footer">
							<a class="btn btn-secondary" th:href="@{/home}" role="button">Cancel</a>
		<button type="submit" class="btn btn-primary">Save changes</button>
	</div>
</form>
</div>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"></script>
			
			</body>
</html>